@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: #000; /* Fondo oscuro */
  color: #ffcc00; /* Texto amarillo X-Men */
  font-family: "Bangers", sans-serif;
}

body {
  background: linear-gradient(200deg, #081B47 30%, #C29F15 100%);
  min-height: 100vh;
  color: white; /* Para que el texto sea legible */
}

.loading {
  background: linear-gradient(200deg, #081B47 30%, #C29F15 100%);
  min-height: 100vh;
}

a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s;
}

a.x-men-link {
  background-color: #0033a0; /* Azul Cyclops */
  color: #ffcc00;
  border: 3px solid #ffcc00;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

a:hover {
  color: #e63946; /* Rojo intenso al pasar el mouse */
}

button {
  background-color: #0033a0; /* Azul Cyclops */
  color: #ffcc00;
  border: 3px solid #ffcc00;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e63946;
  border-color: #e63946;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
